*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: hanson;
    src: url(./fonts/Hanson-Bold_28ef9370662e758bd08e61f45c3c69b8.otf);
}
body{
    max-width: 1440px;
    margin: auto;
}
nav,.one,.two,.six, footer{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
}
#logo1{
    width: 171.77px;
    height: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    margin-left: 2rem;
    margin-right: 2rem;
}
.chat{
    height: 60px;
    padding: 10px 20px;
    font-size: 18px;
    word-spacing: 10px;
    background-color: #0145FE;
    color: white;
    border-radius: 20px;
    border: none;
}
.chat img{
    width: 11px;
    height: 11px;
}
.one{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.one h1, .two h1{
    font-family: Roboto Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.6em;
    color: #00004a;
    margin-bottom: 3rem;
}
.one p{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 42px;
    color: #5a5a5a;
    text-align: justify;
}
.iframe{
    display: flex;
    justify-content: center;
}
.brands{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-top: 9rem;
    padding-bottom: 6rem;
    font-family: Roboto Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0.4em;
    color: #00004a;
}
.brands h1{
    text-align: left;
    width: 100%;
}
.brands main{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 7rem;
}
.brands main img{
    width: 275px;
}
.one div {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.one .img::after{
    content: 'Photo from Blockchain conference 2.0';
    text-align: left;
    padding-top: 5px;
}
.two{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.two header{
    display: flex;
    justify-content: space-between;
}
select{
    padding: 7px 10px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: #0145FE;
    border: 1px solid #0145FE;
}
.two main{
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.two main img{
    width: 565px;
}
.six{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: #E3E1F2;
    ;
}
.six h1{
    color: #000086;
    font-family: Roboto Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.6em;
}
.six main{
    display: flex;
    gap: 5rem;
}
.six main div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 33.33%;
    background: #F1FFFF;
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 5rem;
}
.six h2{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.six p{
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}
footer{
    padding-top: 7rem;
    padding-bottom: 3rem;
    background-color: #00004A;
    background-image: url(./images/Ellipse\ 5.png);
    background-position: top 0 right 0 ;
    background-repeat: no-repeat;
}
footer h3{
    font-family: Roboto Mono;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    color: #B5F9FF;
    margin-bottom: 1rem;
}
footer h1{
    font-family: Hanson;
    font-size: 36px;
    font-weight: 700;
    line-height: 37px;
    color: #B5F9FF;
    margin-bottom: 9rem;
}
footer div{
    display: flex;
   justify-content: space-between;
   align-items: flex-start;
   color: #B5F9FF;
   margin-bottom: 1.5rem;
}
footer div p{
    width: 36%;
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
footer span{
    margin-left: 20px;
}
footer small{
    font-size: 14px;
    transform: translateX(1rem);
    border: 1px solid #B5F9FF;
    padding: 2px 6px;
    border-radius: 50%;
}
footer ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
footer li{
    font-family: Roboto Mono;
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    color: #B5F9FF;
}