*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: hanson;
    src: url(./fonts/Hanson-Bold_28ef9370662e758bd08e61f45c3c69b8.otf);
}
nav,header,.one,.six,footer{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
}
body{
    max-width: 1440px;
    margin: auto;
}
#logo1{
    width: 171.77px;
    height: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    padding-right: 1.3rem;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    font-size: 22px;
    transition: 0.5s linear 0.1s;
    font-weight: 900;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    margin-left: 1rem;
    margin-right: 1rem;
}
.chat{
    height: 60px;
    padding: 10px 20px;
    font-size: 18px;
    word-spacing: 10px;
    background-color: #0145FE;
    color: white;
    border-radius: 20px;
    border: none;
}
.chat img{
    width: 11px;
    height: 11px;
}
a{
    text-decoration: none;
}
header h1{
    margin-top: 3rem;
    font-family: Roboto Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.6em;
    color: #00004A;
}
.sort_container{
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
}
select{
    padding: 7px 10px;
    width: 70px;
    border-radius: 20px;
    color: #0145FE;
    border: 1px solid #0145FE;
}
.sort{
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 42px;
    color: #0145FE;
}
.topics{
    background-color: #97DBFF;
    font-family: 'Roboto Mono';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #0145FE;
    line-height: 42px;
    margin-right: 1px;
    border-radius: 10px;
    padding: 3px 10px;
}
.date{
    float: right;
    font-size: 18px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
}
.one h4{
    font-family: Roboto Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #5a5a5a;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.one p{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #5a5a5a;
}
.one article{
    display: flex;
    gap: 4rem;
}
.one main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.one{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 6rem;
}
.six{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: #E3E1F2;
    ;
}
.six h1{
    color: #000086;
    font-family: Roboto Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.6em;
}
.six main{
    display: flex;
    gap: 5rem;
}
.six main div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 33.33%;
    background: #F1FFFF;
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 5rem;
}
.six h2{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.six p{
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}
footer{
    padding-top: 2rem;
    background-color: #00004A;
    padding-bottom: 1rem;
}
.foot1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
    color: white;
}
.foot2{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding-top: 1rem;
}
.foot2 span{
    padding: 1px 5px;
    border: 1px solid white;
    border-radius: 50%;
    /* height: 20px; */
    width: 40px;
    font-size: 20px;
}