*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: hanson;
    src: url(./fonts/Hanson-Bold_28ef9370662e758bd08e61f45c3c69b8.otf);
}
html{
    overflow-x: hidden;
}
body{
    max-width: 1440px;
    margin: auto;
    overflow-x: hidden;
}
#menu,#close{
    display: none;
}
nav, .one,.three,.two_1,.two_2,.four,.mentor,.five,.six,.contact,.news,footer{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
}
#logo1{
    width: 171.77px;
    height: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    padding-right: 1rem;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    font-size: 22px;
    transition: 0.5s linear 0.1s;
    font-weight: 900;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.chat{
    height: 60px;
    padding: 10px 20px;
    font-size: 18px;
    word-spacing: 10px;
    background-color: #0145FE;
    color: white;
    border-radius: 20px;
    border: none;
}
.chat img{
    width: 11px;
    height: 11px;
}
.one{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.one header{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
  background-image: url(./images/Ellipse\ 2.png);
  background-repeat: no-repeat;
}
.one main{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    transform: translateX(-60px);
    background-image: url(./images/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: top 2rem right -5rem;
}
.one button{
    width: 256px;
    height: 60px;
}
.one header h3{
    content: HI IM;
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.4em;
    text-align: left;
    color: #5A5A5A;
}
.one main img{
    width: 644.48px;
    height: 718.92px;
}
.one h1{
    text-transform: uppercase;
    font-family: Hanson;
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #5A5A5A;
}
.one h5{
    font-family: Hanson;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3em;
    color: #00004a;
}
.one p{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 557px;
}

.two{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
    color: white;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-image:url(./images/bg-b.png);
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.09;
    }
.two_1,.two_2{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;
}
.two div{
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    /* padding: 2rem 2rem 2rem 0em; */
}
.two div img{
    margin-bottom: 20px;
}
.three{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 6rem;
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0.4em;
    color: #00004a;
    background-color: #f1ffff;
}
.three h1{
    text-align: center;
}
.three main{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 7rem;
}
.three main img{
    width: 275px;
}
.four{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 7rem;
    background-image: url(./images/Ellipse\ 3.png),url(./images/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom -2rem left 0 , right 0 top 2rem;
}
.four header{
    font-family: Roboto Mono;
    font-size: 30px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0.4em;
    color: #00004a;
    text-align: center;
}
.four main{
    display: flex;
    gap: 5em;
}
.four main header{
    width: 30%;
}
.four main header img{
    width: 417px;
    height: 617px;
}
.four main article{
    flex-direction: column;
    width: 65%;
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    color: #5A5A5A;
}
.four a{
    text-decoration: none;
    width: 170px;
    border-radius: 12px;
    padding: 8px 20px 8px 20px;
    background-color: #0145FE;
    color: white;
    border: none;
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

/* .five hr{
    border: 1px solid #5B9FFF
} */
.mentor h1,.mentor h2 .five h1,.five_b h1,.f-top h1, .six h1{
    font-family: Roboto Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.4em;
    margin-bottom: 2rem;
}
.mentor H1{
    font-size: 35PX;
    font-weight: 900;
    position: relative;
    padding-bottom: 2rem;
}
.mentor h2{
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: 700;
    position: relative;
}
.mentor{
    position: relative;
    margin-top: 3rem;
    padding-top: 4rem;
    background-color: #00004A;
    background-size: 1400px;
    background-image: url(./images/Ellipse\ 5.png);
    background-repeat: no-repeat;
    background-position: top 0% right 0%;
    color: white;
    padding-bottom: 4rem;
}
.mentor::before{
    content: '';
    background: url(./images/kevin1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 600px;
    background-position: right 1% top 30%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* filter: brightness(20%); */
    /* filter: sepia(20%) contrast(80%) saturate(80%) brightness(40%)  */
    /* filter: drop-shadow(10px 10px #00004a); */
}
.mentor main{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
    width: 60%;
}
#h_top{
    margin-bottom: -3rem;
}
.mentor p{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.mentor a{
    text-decoration: none;
    font-family: Roboto Mono;
    font-size: 22px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    color: #00004A;
    /* color: white; */
    background-color: white;
    /* background-color: #00004A; */
    padding: 10px 20px;
    width: 250px;
    border-radius: 10px;
}
.menH{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.menH ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.menH li{
    font-family: Roboto mono;
    letter-spacing: .1em;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    /* margin-right: -4rem; */
    position: relative;
}
.menH li img{
    width: 30px;
}
.menH span{
    margin-left: .5rem;
    margin-right: .5rem;
}
.five{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #E3E1F2;
    color: #fff;
}
.five h1,.five h4,.five h2{
    color: #00004A;
}
.f-top{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.f-top article{
    display: flex;
    gap: 4rem;
}
.f-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}
.f-left h2{
    font-family: Roboto Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 20px 0;
}
.f-left p{
    margin-top: 10px;
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    width: 95%;
    color: black;
}
.f-left a{
    color: #0145FE;
    text-decoration: none;
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}
.f-left>img{
    width: 500px;
    height: 250px;
    object-fit: cover;
}
.f-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}
.f-right main{
    display: flex;
    gap: 20px;
}
.f-right main h4{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0rem;
    width: 85%;
}
.f-right main img{
    width: 200px;
    height: 120px;
}
.f-right main p{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-top: .6rem;
    word-spacing: 3px;
    width: 95%;
    color: black;
}
.five .topics{
    background-color: #97DBFF;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    color: #0145FE;
    color: #00004A;
}
.f-left .topics{
    font-size: 16px;
    line-height: 42px;
    margin-right: 8px;
    border-radius: 20px;
    padding: 6px 10px;
}

/* eliminate the f right topics */
.f-right .topics,.f-bottom .topics{
    font-size: 8px;
    line-height: 42px;
    margin-right: 1px;
    border-radius: 10px;
    padding: 3px 10px;
}
.date{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    color: #00004A;
}

/* eliminate the f right topics */
.f-right .date,.f-bottom .date{
    font-size: 10px;
    float: right;
}
.f-left .date{
    float: right;
    font-size: 18px;
}
/* .f-bottom header{
    display: flex;
    justify-content: space-between;
}
.f-bottom header span{
    background-color: #97DBFF;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    color: #0145FE;
    font-size: 16px;
    line-height: 42px;
    margin-left: 8px;
    border-radius: 20px;
    padding: 6px 10px;
}
.f-bottom select{
    padding: 7px 10px;
    width: 70px;
    border-radius: 20px;
    background-color: #00004A;
    color: #fff;
}
.f-bottom option{
    padding: 3px 8px;
    margin-bottom: 3px;
}
.f-bottom article{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.f-bottom main{
    display: flex;
    gap: 8rem;
    justify-content: space-evenly;
}
.f-bottom main .latest_news{
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 1rem;
}
.f-bottom main .latest_news h4{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 1.3rem;
    width: 90%;
}
.f-bottom main .latest_news p{
    font-family: Roboto Mono;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
} */
.Blog_page{
    text-decoration: none;
    background: linear-gradient(0deg, #0145FE, #00004a),
    linear-gradient(0deg, #F1FFFF, #F1FFFF);
    padding: 6px 20px;
    border-radius: 20px;
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    width: 245px;
    color: #fff;
    margin-top: -7rem;
    margin-left: auto;
}
select{
    padding: 7px 10px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: #0145FE;
    border: 1px solid #0145FE;
}
.five_b{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.five_b header{
    display: flex;
    justify-content: space-between;
}
.five_b main{
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.five_b main img{
    width: 565px;
    margin-bottom: 7px;
}
.five_b main span{
    font-family: Roboto Mono;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
}
/* .six{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: #E3E1F2;
    ;
}
.six h1{
    color: #000086;
}
.six main{
    display: flex;
    gap: 5rem;
}
.six main div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 33.33%;
    background: #F1FFFF;
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 5rem;
}
.six h2{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.six p{
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
} */
/* footer{
    padding-top: 7rem;
    padding-bottom: 3rem;
    background-color: #00004A;
    background-image: url(./images/Ellipse\ 5.png);
    background-position: top 0 right 0 ;
    background-repeat: no-repeat;
}
footer h3{
    font-family: Roboto Mono;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    color: #B5F9FF;
    margin-bottom: 1rem;
}
footer h1{
    font-family: Hanson;
    font-size: 36px;
    font-weight: 700;
    line-height: 37px;
    color: #B5F9FF;
    margin-bottom: 9rem;
}
footer div{
    display: flex;
   justify-content: space-between;
   align-items: flex-start;
   color: #B5F9FF;
   margin-bottom: 1.5rem;
}
footer div p{
    width: 36%;
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
footer span{
    margin-left: 20px;
}
footer small{
    font-size: 14px;
    transform: translateX(1rem);
    border: 1px solid #B5F9FF;
    padding: 2px 6px;
    border-radius: 50%;
}
footer ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
footer li{
    font-family: Roboto Mono;
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    color: #B5F9FF;
} */
.news{
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #000086;
    color: white;
}
.news main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.news main div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.news input{
    width: 700px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Roboto Mono;
    border-radius: 10px;
    border: none;
}
#sub{
    background-color: #00004A;
    color: white;
}
.news h1{
    font-family: Roboto Mono;
    font-size: 32px;
    line-height: 24px;
}
.news p{
    font-family: Roboto Mono;
    font-size: 18px;
    line-height: 24px;
}
.contact{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.c-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}
.contact h2,.contact h5{
    font-family: Roboto Mono;
    line-height: 24px;
}
.contact h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    color: #00004A;
    letter-spacing: 0.4em;
    padding-bottom: 4rem;
}
.contact h5{
    font-size: 30px;
    line-height: 40px;
    font-family: Roboto Mono;
    letter-spacing: 0.1em;
    padding-bottom: 1rem;
}
.contact a{
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    text-decoration: none;
    color: black;
    margin-bottom: 3rem;
    font-family: Roboto Mono;
    letter-spacing: 0.1em;
    padding-top: 2rem;
}
.contact span{
    display: flex;
    gap: 2rem;
}
.contact span img{
    width: 30px;
}

/* new footer */

footer{
    padding-top: 2rem;
    background-color: #00004A;
    padding-bottom: 1rem;
}
.foot1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.foot1 div{
    display: flex;
}
.foot1 ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
    color: white;
}
.foot2{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding-top: 1rem;
}
.foot2 span{
    padding: 0px 0px;
    /* border: 1px solid white; */
    /* border-radius: 80%; */
    /* height: 20px; */
    width: 40px;
    font-size: 30px;
}
#slist li{
    font-size: 14px;
}

@media (max-width:435px){
    html{
        overflow-x: hidden;
    }
    body{
        width: 100%;
        overflow-x: hidden;
    }
    nav{
        /* display: none; */
        /* box-shadow: -10px 0px 20px -5px #000086; */
        position: fixed;
        z-index: 40;
        width: 100%;
        background-color: #fff;
    }
    #menu{
        display: block;
        position: absolute;
        top: .8rem;
        right: 1rem;
        z-index: 41;
        width: 40px;
        /* animation: diss 1s ease-in-out 2; */
    }
    @keyframes diss {
        20%{
            /* transform: rotate(72deg); */
            opacity: .8;
        }
        40%{
            /* transform: rotate(144deg); */
            opacity: .6;
        }
        60%{
            /* transform: rotate(216deg); */
            opacity: .4;
        }
        80%{
            /* transform: rotate(288deg); */
            opacity: .2;
        }
        100%{
            transform: rotate(360deg);
            opacity: 0;
        }
    }
    #close{
        display: none;
        position: absolute;
        top: 1.1rem;
        right: 1rem;
        z-index: 41;
        width: 30px;
    }
    #logo1{
        transform: translateY(-8px);
    }
    nav ul{
        position: absolute;
        top: 2rem;
        background-color: white;
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start;
        padding-top: 4rem;
        height: 100vh;
        width: 70%;
        inset: 100% 0 0 30%;
        z-index: 40;
        /* border: 1px solid; */
        box-shadow: 0px 0px 10px -5px #000086;
        transform: translateX(100%);
    }
    .chat{
        font-size: 14px;
        padding: 20px 30px;
        word-spacing: 5px;
        height: auto;
    }
    .chat img{
        width: 8px;
    }
    #abt{
        height: 40px;
        padding: 10px 20px;
        font-size: 14px;
        word-spacing: 10px;
        background-color: #0145FE;
        color: white;
        border-radius: 20px;
        border: none;
    }
    nav, .one,.three,.two_1,.two_2,.four,.mentor,.five,.six,.contact,.news,footer{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        /* border: 1px solid ; */
    }
    .one{
        flex-direction: column;
        margin-top: 9rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2rem;
    }
    .one header{
        gap: 10px;
        background-position: top 10% right 0;
    }
    .one header,.one main{
        width: 100%;
        /* border: 1px solid; */
    }
    .one main{
        justify-content: center;
        align-items: center;
        transform: translateX(0);
    }
    .one h1{
        font-size: 36px;
        line-height: 40px;
    }
    .one header h3{
        font-family: Noto Sans;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
    .one h5{
        font-size: 12px;
        line-height: 17.4px;
    }
    .one p{
        font-size: 14px;
        width: 100%;
    }
    .one main img{
        width: 350px;
        height: initial;
        /* height: 339px; */
        /* object-fit: cover; */
    }
    .one button{
        font-size: 14px;
        width: 150px;
        height: 40px;
    }
    .two{
        background-image: url(./images/bg-b-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 3rem;
        gap: 1rem;
        padding-bottom: 5rem;
    }
    .two_1,.two_2{
        flex-direction: column;
        width: 100%;
        margin: auto;
        gap: 2rem;
    }
    .two div{
        font-size: 10px;
        /* border: 1px solid white; */
        border-radius: 10px;
        padding: 24px;
        background-color: rgba(255, 255, 240, 0.1)
    }
    .two div img{
        margin-bottom: 5px;
    }
    .bg{
        top: 0%;
    }
    .three{
        font-family: Roboto Mono;
        font-size: 12px;
        font-weight: 700;
        line-height: 35px;
        text-align: center;
        letter-spacing: 0.6em;
        padding-top: 4rem;
        gap: 3rem;
    }
    .three main{
        gap: 3rem;
        justify-content: flex-start;
        overflow-x: hidden;
    }
    .three main img{
        width: 100px;
    }
    .four{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .four main{
        flex-direction: column;
        gap: 2rem;
    }
    .four main header{
        width: 100%;
    }
    .four main article{
        width: 100%;
        font-size: 12px;
        line-height: 24px;
        text-align: justified;
    }
    .four header{
        font-family: Roboto Mono;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6em;
    }
    .four main header img{
        width: 305px;
        height: initial;
    }
    .four a{
        width: 130px;
        font-size: 14px;
    }
    .four a img{
        width: 10px;
    }
    .mentor{
        margin-top: 0;
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    .mentor>main{
        display: flex;
        flex-direction: row;
    }
    .menH ul{
        display: flex;
        flex-direction: column;
    }
    #menup{
        display: flex;
        flex-direction: column;
    }
    .mentor H1{
        font-size: 18px;
        padding-bottom: 0px;
    }
    .mentor h2{
        font-size: 16px;
        line-height: 25px;
        font-weight: 500;
    }
    .menH ul{
        display: flex;
        gap: 0rem;
        margin-left: -2rem;
    }
    .menH li{
        font-size: 14px;
        list-style: none;
        margin-left: -1rem;
    }
    #h-btm{
        margin-left: -5rem;
    }
    .menH li::before{
        content: 'img';
        background-image: url(./images/icons8-check-64.png);
        visibility: hidden;
    }
    .mentor p{
        font-size: 12px;
    }
    .menH span{
        margin-left: 0px;
        margin-right: 10px;
        visibility: hidden;
    }
    .mentor main{
        width: 100%;
    }
    .mentor::before{
        filter: brightness(50%);
        opacity: .8;
        right: -60%;
        bottom: 0rem;
    }
    .mentor a{
        font-size: 14px;
        width: 200px;
        margin-top: -2rem;
    }
    .f-top article{
        flex-direction: column;
    }
    .f-left{
        width: 100%;
    }
    .f-left>img{
        width: 100%;
    }
    .f-right::before{
        content: 'LATEST ARTICLES';
        font-family: Roboto Mono;
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.4em;
        color: #000086;
        margin-bottom: 2rem;
    }
    .f-right{
        width: 100%;
        margin-top: 3rem;
    }
    .f-right main img{
        width: 150px;
        object-fit: cover;
    }
    .f-right .topics{
        display: none;
    }
    .five h1{
        font-family: Roboto Mono;
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.4em;
        margin-top: 4rem;
    }
    .f-left h2{
        font-size: 18px;
        margin: 5px 0px;
    }
    .f-left p{
        font-size: 14px;
        line-height: 20px;
    }
    .f-left .topics{
        font-size: 8px;
    }
    .f-left .date{
        font-size: 12px;
    }
    .f-right .date{
        font-size: 10px;
        float: left;
        margin-top: -15px;
    }
    .f-right main h4{
        font-size: 10px;
        line-height: 16px;
        margin-top: 7px;
    }
    .f-right main{
        font-size: 0px;
    }
    .f-right main p{
        font-size: 10px;
    }
    .Blog_page{
        margin-top: -3rem;
        font-size: 12px;
        width: 200px;
        padding: 6px 15px;
        line-height: 28px;
        margin-bottom: 3rem;
        background: #0145FE;
    }
    .news{
        padding-bottom: 5rem;
    }
    .news h1{
        font-size: 18px;
        letter-spacing: 0.6em;
        line-height: 32px;
        text-align: center;
        padding-top: 3rem;
    }
    .news p{
        font-size: 14px;
    }
    .news input{
        width: 100%;
        font-size: 14px;
    }
    .news input[type = 'submit']{
        font-size: 16px;
        padding: 15px 0;
    }
    .contact{
        /* flex-direction: column; */
        gap: 0;
        flex-direction: column;
        /* background-image: url(./images/kevin1.png);
        background-size: 200px;
        background-repeat: no-repeat;
        background-position: right 0; */
    }
    .c-left{
        width: 100%;
    }
    .contact h2{
        font-size: 18px;
        padding-bottom: 2rem;
        text-align: center;
        margin-top: 2rem;
    }
    .contact h5{
        font-size: 16px;
        margin-top: -3rem;
        margin-bottom: -1rem;
        font-weight: 700;
        /* text-align: center; */
    }
    .contact a{
        font-size: 18px;
        font-weight: 500;
        z-index: 30;
    }
    .contact span{
        margin-bottom: 2rem;
        gap: 1rem;
        margin-top: -2rem;
    }
    .contact span img{
        width: 20px;
    }
    #fpic{
        width: 300px;
        /* transform: translateX(-50%); */
        z-index: 1;
        /* display: none; */
    }
    .foot2 span{
        font-size: 16px;
    }
    .foot1 div{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .foot1{
        flex-direction: column;
        gap: 1.5rem;
    }
    .foot1 img{
        margin-bottom: -3rem;
    }
    .foot1 ul{
        width: 100%;
        /* padding-left: 2rem; */
        justify-content: center;
        display: none;
    }
    .foot1 ul li{
        font-size: 16px;
    }
    .slist li{
        font-size: 12px;
    }
}
