*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: hanson;
    src: url(./fonts/Hanson-Bold_28ef9370662e758bd08e61f45c3c69b8.otf);
}
nav,.pageHeader,.mergestory,.nextarticle,footer{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
}
body{
    max-width: 1440px;
    margin: auto;
}
#logo1{
    width: 171.77px;
    height: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    padding-right: 1.3rem;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    font-size: 22px;
    transition: 0.5s linear 0.1s;
    font-weight: 900;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    margin-left: 1rem;
    margin-right: 1rem;
}
.chat{
    height: 60px;
    padding: 10px 20px;
    font-size: 18px;
    word-spacing: 10px;
    background-color: #0145FE;
    color: white;
    border-radius: 20px;
    border: none;
}
.chat img{
    width: 11px;
    height: 11px;
}
header h1{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-family: Roboto Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.6em;
    color: #00004A;
}
.date{
    font-family: Roboto Mono;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #5a5a5a;
}
.one h1{
    font-family: Roboto Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #00004A;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.one p{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 42px;
    text-align: justify;
    color: #5a5a5a;
}
.one img{
    padding: 3rem 0;
}
.btt{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 42px;
    color: #5a5a5a;
}
.mergestory{
    display: flex;
    gap: 7rem;
    margin-bottom: 3rem;
}
.one{
    width: 90%;
}
.two{
    width: 45%;
    padding-top: 4rem;
}
.two h5{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #0145FE;
}
.two small{
    font-family: Roboto Mono;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    padding: 5px 15px;
    border-radius: 20px;
    background: #B5F9FF;
}
.two main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.two main div{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    text-align: justify;
}
.nextarticle{
    margin-bottom: 4rem;
}
.nextarticle main{
    display: flex;
    gap: 1rem;
    width: 50%;
}
.tags{
    background-color: #97DBFF;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    color: #0145FE;
    font-size: 12px;
    line-height: 42px;
    margin-right: 1px;
    border-radius: 10px;
    padding: 3px 10px;
}
.nextarticle main .date{
    float: right;
}
.nextarticle h2{
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #5a5a5a;
    margin-bottom: 20px;
}
.nextarticle p{
    font-family: Roboto Mono;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: justified;
}
footer{
    padding-top: 2rem;
    background-color: #00004A;
    padding-bottom: 1rem;
}
.foot1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
    color: white;
}
.foot2{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding-top: 1rem;
}
.foot2 span{
    padding: 1px 5px;
    border: 1px solid white;
    border-radius: 50%;
    /* height: 20px; */
    width: 40px;
    font-size: 20px;
}